@using Markdig
@inject EmojiTable Emoji

<RadzenGrid Data="Results.Items" TItem="Issue" EmptyText="Nothing to see here" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
    <Template Context="data">
        @if (string.IsNullOrEmpty(data.Body))
        {
            <em>No description provided.</em>
        }
        else
        {
            @((MarkupString)(Markdown.ToHtml(data.Body)))
        }
    </Template>
    <Columns>
        <RadzenGridColumn Width="90px" TItem="Issue" Title="ID" SortProperty="Number">
            <Template Context="data">
                <GitHubIssueIcon Width="12" Height="16" State="data.State.Value" IsPullRequest="data.PullRequest != null" IsMerged="data.PullRequest?.Merged" />
                <a style="font-size: 16px" target="_blank" href="@data.HtmlUrl">@data.Number</a>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Issue" Title="Title" FilterProperty="Title">
            <Template Context="data">
                <a style="font-size:16px" target="_blank" href="@data.HtmlUrl">@data.Title</a>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Issue" Title="Labels">
            <Template Context="data">
                @foreach (var label in data.Labels)
                {
                    <span class="issue-label" style="color:@Colors.GetReadableForeColorAsString(label.Color);background-color:#@label.Color">@Emoji.ReplaceEmoji(label.Name) &nbsp;</span>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Issue" Title="Created" Width="110px">
            <Template Context="data">
                <span style="font-size:16px">@data.CreatedAt.Humanize()</span>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
    [Parameter]
    public SearchIssuesResult Results { get; set; }
}
